<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      TEC-Online
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Bem-vindo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-container">
    <img src="assets/icon/logotipo.png" alt="Logo" class="app-logo" />
    <h1>Bem-vindo à TEC-Online</h1>
    <p>Organize e acompanhe as suas tarefas de forma eficiente.</p>

    <ion-button expand="block" color="secondary" routerLink="/tasks">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      Ver Tarefas
    </ion-button>

    <ion-button expand="block" color="tertiary" routerLink="/new-task">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      Criar Nova Tarefa
    </ion-button>
  </div>
</ion-content>

