.home-content {
  --background: linear-gradient(135deg, #4e54c8, #8f94fb);
  color: #ffffff;
}

.welcome-container {
  text-align: center;
  padding: 20px;
}

.app-logo {
  width: 130px;
  margin: 50px auto;
  display: block;
}

h1 {
  font-size: 28px;
  margin-top: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 30px;
  opacity: 0.9;
}

ion-button {
  margin: 10px 0;
}
