<ion-content [fullscreen]="true" class="home-content">
  <div class="login-wrapper">
    <div class="login">
      <img src="assets/icon/logotipo.png" alt="Logo" class="app-logo" />
      <h1>🚀 Bem-vindo de volta!</h1>
      <p>Entre e organize as suas tarefas com estilo.</p>

      <ion-item class="input-field">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input placeholder="Email" type="email"></ion-input>
      </ion-item>

      <ion-item class="input-field">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input placeholder="Senha" type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" class="btn-animate" [routerLink]="['/plano-semanal']">
        Entrar
      </ion-button>

      <p class="forgot-password">🔑 Esqueceu a senha?</p>

      <ion-button expand="block" color="secondary" class="btn-animate" [routerLink]="['/signup']">
        Criar Nova Conta
      </ion-button>
    </div>
  </div>
</ion-content>
